{%extends 'base.html'%}
{%load static%}
{%block body%}
<div id="wrapper">
<section id="three" class="wrapper style1 fade-up">
    <div class="inner">
        <h2> Diabetes Prediction</h2>
        <p>This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective of the dataset is to diagnostically predict whether or not a patient has diabetes, based on certain diagnostic measurements included in the dataset. Several constraints were placed on the selection of these instances from a larger database. In particular, all patients here are females at least 21 years old of Pima Indian heritage.

        </p>
        <div >
            <section>
                <form action="/app/result">
                    <div class="fields">
                        <div class="field half" name="id1" id="id1">
                            <!-- <label for="name">Pregnancies</label>
                            <input type="text" name="id1" id="name" /> -->
                            <label for="fname">Pregnancies</label><br>
                            <input type="text" id="id1" name="id1" ><br>
                           
                            <!-- <label for="fname">Glucose(Plasma glucose concentration a 2 hours in an oral glucose tolerance test)</label><br> -->
                        </div>
                        <div class="field half">
                            <label for="fname">Glucose(Plasma glucose concentration a 2 hours in an oral glucose tolerance test)</label>
        <input type="text" id="fname" name="id2" ><br>
                        </div>
                        <div class="field half ">
                            <label for="fname">BloodPressure(Diastolic blood pressure (mm Hg))</label><br>
                            <input type="text" id="fname" name="id3" ><br>
                        </div>
                        <div class="field half">
                            <label for="fname">SkinThickness(Triceps skin fold thickness (mm))</label><br>
                            <input type="text" id="fname" name="id4" ><br>
                        </div>
                        <div class="field half">
                            <label for="fname">Insulin(2-Hour serum insulin (mu U/ml))</label><br>
        <input type="text" id="fname" name="id5" ><br>
                        </div>
                        <div class="field half">
                            <label for="fname">BMI(Body mass index (weight in kg/(height in m)^2))</label><br>
                            <input type="text" id="fname" name="id6" ><br>
                        </div>
                        <div class="field half">
                            <label for="fname">DiabetesPedigreeFunction</label><br>
                            <input type="text" id="fname" name="id7" ><br>
                        </div>
                        <div class="field half">
                            <label for="fname">Age</label><br>
        <input type="text" id="fname" name="id8" ><br>
                        </div>
                    </div>
                    <ul class="actions">
                        <input type="submit" class="button submit"  value="Submit">
                        
                    </ul>
                </form>
            </section>
                Result:{{fresult}}
           
        
        
        </div>
    </div>
</section>
</div>
{%endblock%}